.historyItem {
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.add {
  color: #86ff9c;
  background-color: #00ad28;
}
.minus {
  color: #e37171;
  background-color: #eddddd;
}
