@import '../GlobalStyles/responsive.scss';
.bettingButton {
  padding: 0.5em 0;
  width: 100%;
  min-height: 10vh;
  background-color: #fff9ae;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  @include respond-to(md) {
    padding: 0.5em 0;
    min-height: 9vh;
  }
  @include respond-to(lg) {
    padding: 0.5em 0;
    min-height: 9vh;
  }
  @include respond-to(xxl) {
    padding: 0.5em 0;
    min-height: 7vh;
  }
  p {
    line-height: 1;
  }
  .content {
    width: 100%;
    font-size: 0.5em;
    min-height: 2em;
    font-weight: bold;
    color: #b16d00;
    @include respond-to(xl) {
      width: 15em;
      font-size: 0.9em;
    }
  }
  .valuation {
    font-size: 0.5em;
    color: #d30707;
    @include respond-to(xl) {
      font-size: 0.7em;
    }
  }
  .bettingValue {
    position: absolute;
    padding: 0.1em 1.5em;
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65) 15% 85%, rgba(0, 0, 0, 0));
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
  }
  .showWin {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    font-weight: bold;
    opacity: 0.9;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    img {
      width: 80%;
    }
  }

  .showCount {
    font-size: 0.55em;
    @include respond-to(xl) {
      font-size: 0.75em;
    }
  }
}
.disabled,
.hidden {
  pointer-events: none;
}
.disabled {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
